<h1>Account</h1>
<form action="/newtrip">
  <button>New Trip</button>
</form>
<h2>My trips</h2>

<form action="/newtrip/allTrips">
  <button id="seeAllTripsBtn">See my all trips</button>
</form>

<template id="liTemplate">
  {{htmlTemplate 'allTrips'}}
</template>
