<h1>Account</h1>
<form action="/newtrip">
  <button>New Trip</button>
</form>
<h2>My trips</h2>
<ul>
  <li><a href="#">First</a></li>
  <li><a href="#">Second</a></li>
  <li><a href="#">Third</a></li>
</ul>
