<h2>This is how you traveled:</h2>

{{#each allTrips}}
<h3>
  <li id="list" class="list-item col-1-2">
    <a class="big fancy-text light-link" href="/newtrip/{{this.id}}">{{this.name}}</a> <br />
  </li>
</h3>
{{/each}}
