<h2>Category: {{name}}</h2>
<div class="d-flex justify-content-center">

  <form class="d-flex flex-column align-items-center" method="POST" action="/newtrip/category/castomize"
    id="castomizeCategoryForm">
    <h4>
      <p id="newtripTitle">Please enter cost for each payer:</p>
    </h4>

    {{#if error}}
    <p class="text-danger">{{error}}</p>
    {{/if}}

    {{#each payers}}
    <div class="form-group">
      <input type="text" placeholder="Enter cost for {{this}}" name="castomizeCategory" class="form-control"
        id="castomizeCategory">
    </div> <br />
    {{/each}}
    <br />
    <button id="castomizeCategoryBtn" type="submit" class="btn btn-primary">Create category</button>
  </form>

</div>
