<h3>Less stress when sharing expenses with anyone.</h3>
<a href="/" class="brand-logo" id="image-index"><img src="money.jpg" width="300" height="300"></a>
<h4>Split bills for shared group expenses. <br>
  We tell you who owes whom and how to settle debts in groups.</h4>
