<!DOCTYPE html>
<html>

<head>
  <title>Travel Budget</title>
</head>

<body>

  <div class="bg-dk-green pad-t-2 pad-s-1 pad-b-8 mar-b-16 c-white">
    <div class="max-w-700 center">
      {{{body}}}
    </div>
  </div>
</body>

</html>
