<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Budget</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/stylesheet.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <div>

      <nav>
        <div class="nav-wrapper green lighten-3">

          <a href="/" class="brand-logo" id="titlename">Travel Budget</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down ul-index">
            {{#if userName}}
            <li><a href="/">Home</a></li>
            <li><a href="/account">{{userName}}</a></li>
            <li><a href="/users/logout">Log Out</a></li>
            {{else}}
            <li><a href="/">Home</a></li>
            <li><a href="/users/login">Log in</a></li>
            <li><a href="/users/signup">Sign up</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>


    </div>
  </header>
  {{{body}}}
</body>

</html>
