<h2>Category "{{categoryName}}" successfully saved!</h2> <br />
<div class="d-flex justify-content-center">
  <a href="/newtrip/category/editCategory" class="payers">Edit this data</a>
  <a href="/newtrip/category" class="payers">Add category</a> <br />
</div> <br />


{{#each castomCostArr}}
<h3>
  <span class="entry-date block font-3-4 c-lt-gray">{{this.name}}, </span>
</h3>
<a> you spent {{this.cost}} USD </a> <br />
{{/each}}
