<div class="container">
  <h2>Send report</h2> <br />
  <form name="mailForm" method="POST" action="/mail" id="mailForm">
    <button id="sendMailBtn" formaction="/mail" formmethod="post" class="btn btn-primary" type="submit"
      value="Pay castomize">Send report by email</button>
  </form>

</div>
</div>
