<h2>Send report</h2> <br />
<div class="d-flex justify-content-center">

  <form name="mailForm" method="POST" action="/newtrip/category/castomize/save" id="castomizeCategoryForm">
    <br />
    <button id="sendMailBtn" type="submit" class="btn btn-primary">Send report</button>
  </form>

</div>
